<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Order Completed</h2>
        <a class="btn btn-link" asp-controller="Orders" asp-action="Index">View Orders</a>
        <hr />
        <p>Thank You!!!</p>
    </div>
</div>